@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-bold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Changa;
    src: url(../fonts/Changa_One/ChangaOne-Regular.ttf);
}

@font-face {
    font-family: Indie;
    src: url(../fonts/Indie_Flower/IndieFlower-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: Indie, sans-serif;
    font-family: Changa, sans-serif;
    font-family: Montserrat, sans-serif;
    font-family: MontserratBold, sans-serif;
}


/* html { */


/* color: #000000; */


/* line-height: 1.714; */


/* } */

body {
    margin: 0;
    font-family: Montserrat;
    height: 100vh;
    min-height: 100vh;
    /* max-width: 600px */
}

body.menu-open {
    pointer-events: auto;
    opacity: 0.8;
}


/* 
body.rtl {
    direction: rtl;
} */


/* LAYOUT */

.main-layout {
    /* max-width: 600px; */
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}


/* HEADER */

.main-nav {
    height: 66px;
    width: 100%;
    margin: 0 0 9.2px;
    background-color: #ff7f00;
}

.main-nav .logo {
    color: #ffffff;
    font-size: 1.7rem;
    padding-inline-end: 11.4px;
    font-family: Changa, sans-serif;
}

.main-nav a {
    color: #fbf8f8;
    font-family: Montserrat;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    padding: 6px 10px;
}

.main-nav ul span {
    color: #646464;
    font-size: 1.2rem;
    padding: 6px 10px;
}

.main-nav a:hover {
    text-decoration: none;
    color: #1b1a1a;
}


/* search-area */

.key-words-container {
    display: inline-block;
}

.search-area input {
    border: none;
    border-bottom: 2px solid black;
    width: fit-content;
    color: #909090;
    margin-inline-start: 2rem;
    font-family: Montserrat;
}

.search-icon {
    width: 22px;
    height: 22px;
    /* border-bottom: 2px solid black; */
    top: -2px;
}

.key-words {
    margin-inline-start: 5rem;
}

.key-words a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-family: Montserrat;
    padding-inline-end: 0.5rem;
}

.key-words a:hover {
    color: #ff7f00;
}

.key-words a.large {
    font-size: 2rem;
}

.key-words a.medium {
    font-size: 1.5rem;
}

.search-more {
    font-family: Montserrat;
    border-bottom: black 1.5px solid;
    text-decoration: none;
    margin-inline-start: 1rem;
}


/* GALLERY */

.gallery-section {
    background-color: #e3e3e3;
}

.gallery {
    display: grid;
    grid-gap: 15px 15px;
    grid-template-columns: repeat(auto-fill, 300px);
    padding: 20px;
    padding-block: 50px;
    justify-content: center;
}

.gallery img {
    margin: 5px;
    border-radius: 20px;
    opacity: 0.9;
    max-width: 300px;
}

.gallery img:hover {
    border: #ff7f00 0.5px solid;
    opacity: 1;
}


/* MY MEMES GALLERY */

.mygallery-section {
    background-color: #e3e3e3;
}

.mygallery h2 {
    font-family: Montserrat;
    font-size: 3rem;
    color: #ff7f00;
    grid-column: 1/-1;
}

.mygallery {
    min-height: 50vh;
    display: grid;
    grid-gap: 15px 15px;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
}

.mygallery img {
    margin: 5px;
    border-radius: 20px;
    opacity: 0.9;
    max-width: 300px;
}

.mygallery img:hover {
    border: #ff7f00 0.5px solid;
    opacity: 1;
}


/* MEME EDITOR */

.meme-editor {
    display: flex;
    margin: auto;
    max-width: 100vw;
    background-color: #e3e3e3;
    justify-content: center;
    margin-bottom: 10px;
}

.canvas-container {
    display: grid;
    z-index: 2;
    justify-content: space-evenly;
    padding-block: 50px;
    width: 50%;
}

.control-box {
    max-height: 500px;
    z-index: 1;
    display: grid;
    margin-left: 100px;
    margin-right: 100px;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
    /* grid-template-areas: "txt txt txt txt txt" ". changeline changeline changeline ." "changetxt changetxt changetxt changetxt changetxt" "ffamily ffamily ffamily colors colors" "stickers stickers stickers stickers stickers" ". . . share share"; */
}

.line-input {
    grid-area: txt;
    margin-top: 50px;
    border: none;
    border-radius: 10px;
    text-align: center;
    height: 3.5rem;
    font-size: 1.5rem;
}

.edit-btn {
    font-size: 25px;
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: 10px;
    background-color: white;
    justify-self: center;
}

.edit-btn:hover {
    background-color: #3f3a3a3b;
    cursor: pointer;
}

.line-input {
    grid-column: 1/6;
    grid-row: 1/2;
}

.change-line-btn {
    grid-row: 2/3;
}

.change-line-btn.switch {
    grid-column: 1/2;
}

.change-line-btn.add {
    grid-column: 2/3;
}

.change-line-btn.delete {
    grid-column: 3/4;
}

.change-line-btn.up {
    grid-column: 4/5;
}

.change-line-btn.down {
    grid-column: 5/6;
}

.change-txt {
    grid-row: 3/4;
}

.change-txt.plus {
    grid-column: 1/2;
}

.change-txt.minus {
    grid-column: 2/3;
}

.change-txt.right {
    grid-column: 3/4;
}

.change-txt.center {
    grid-column: 4/5;
}

.change-txt.left {
    grid-column: 5/6;
}

.font-style {
    grid-row: 4/5;
}

.font-style.edit-select {
    grid-column: 1/4;
    height: fit-content;
    border: none;
    border-radius: 10px;
    height: 3.5rem;
    font-size: 1.2rem;
}

.font-style.edit-select .impact {
    font-family: Impact;
}

.font-style.edit-select .indie {
    font-family: Indie;
}

.font-style.edit-select .changa {
    font-family: Changa;
}

.font-style.edit-select .montserrat {
    font-family: Montserrat;
}

.font-style.stroke {
    cursor: auto;
    grid-column: 4/5;
}

.font-style.fill {
    cursor: auto;
    grid-column: 5/6;
}

.stickers {
    grid-row: 5/6;
    grid-column: 1/-1;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.snd-meme-btn {
    font-family: Montserrat;
    border: none;
    border-radius: 10px;
    background-color: #ff7f00;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    padding-top: 0.5rem;
}

.snd-meme-btn:hover {
    background-color: #c57526;
}

.snd-meme-btn.save {
    grid-row: 6/7;
    grid-column: 1/3;
}

.snd-meme-btn.share {
    grid-row: 6/7;
    grid-column: 3/5;
}


/* .snd-meme-btn.upload {
    grid-row: 7/8;
    grid-column: 1/3;
} */

.snd-meme-btn.download {
    grid-row: 7/8;
    grid-column: 1/-1;
}


/* ABOUT */

.about {
    height: 500px;
    margin: auto;
    max-width: max-content;
    padding-block: 100px;
}

.about-info {
    margin-left: 50px;
}

.about-info h2 {
    font-family: Montserrat;
}

.about-info p {
    font-family: Montserrat;
}

.about img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    text-align: start;
}

.about .link {
    color: #ff7f00;
    font-size: 3rem;
}

.about .link:hover {
    color: #c57526;
}

.about .fa-linkedin {
    /* color: #6d6b69a6; */
    cursor: not-allowed;
}

.about .fa-linkedin:hover {
    color: #6d6b69a6;
}

footer {
    /* position: fixed; */
    height: 200px;
    color: #fff;
    padding-block: 80px;
    text-align: center;
    margin: auto;
    background-color: #ff7f00;
    width: 100%;
    margin-block-start: 125px;
}

footer p {
    font-family: Montserrat;
    line-height: 2px;
}

footer p.footer-logo {
    color: #ffffff;
    font-size: 25px;
    font-family: Changa, sans-serif;
    margin: 20px;
}


/* HELPERS */


/* FLEX HELPERS */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}


/* LIST HELPERS */

.clean-list {
    list-style-type: none;
}

.clean-link {
    text-decoration: none;
}

.hidden {
    display: none;
}

.pointer:hover {
    cursor: pointer;
}

.inline-block {
    display: inline-block;
}

@media (max-width: 910px) {
    .main-nav {
        /* position: fixed; */
        z-index: 4;
    }
    .main-nav ul {
        background-color: #ff8000c9;
        height: 100vh;
        z-index: 3;
        flex-direction: column;
        position: fixed;
        margin-block-start: 100vh;
        margin-left: -40px;
        padding-top: 50px;
        width: 200px;
        transform: translateX(-100%);
        transition: 1s
    }
    .main-nav a {
        border-bottom: 1px solid #000;
    }
    .main-nav ul span {
        display: none;
    }
    p.key-words {
        display: none;
    }
    a.search-more {
        display: none;
    }
    .btn-menu {
        display: block;
        float: right;
        margin-block-start: -69px;
        z-index: 10;
        margin-block-start: 5px;
        background-color: orange;
        border: none;
        font-size: 2rem;
        color: white;
    }
    body.menu-open .main-nav ul {
        transform: translateX(0);
    }
    .meme-editor {
        flex-direction: column;
    }
    .control-box {
        margin-left: 50px;
        margin-right: 50px;
        grid-gap: 3px;
        width: 50%;
        align-self: center;
        margin: 0px;
        margin-inline-start: -28vw;
    }
    #my-canvas {
        width: 100%;
        margin-inline: 20%;
        margin-block: 50px;
    }
}